*.class
.classpath
.project
.settings/
target/

# IntelliJ files #
*.iml
.idea/

# Package Files #
*.jar
*.war
*.ear

!core/lib/*.jar

# Files created during tests #
core/src/test/resources/gazetteer/nemexBOWAligner.txt
core/src/test/resources/NemexWekaArff.arff0.arff
core/src/main/resources/model/NemexWekaClassificationEDAModel_EN*

.DS_Store

bin/*

common/bin/
lap/bin/
uima.log

.metadata
lap/src/null223365410
.gitignore
